* {
  box-sizing: border-box;
}
body {
  padding-top: 80px;
  background-color: OrangeRed; /* For browsers that do not support gradients */
  background-image: linear-gradient(OrangeRed, yellow); /* Standard syntax (must be last) */
}
/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}
.navbar {
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}
div.container {
  padding: 10px;
}
.rcorners {
  border-radius: 20px;
  border: 5px solid black;
}
