/* CSS Document */
.environment {
    background-color: #80dc7f;
    color: white;
}
.humanities {
    background-color: #80dbd4;
    color: white;
}
.animals {
    background-color: #dee21f;
    color: white;
}
.food {
    background-color: #f8a8c4;
    color: white;
}
.education {
    background-color: #cfa8e1;
    color: white;
}
.artCulture {
    background-color: #e5b514;
    color: white;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    /* height: 600px; */
    height: auto;
}
.grid-item {
    /* border: 1px solid rgb(0, 0, 0); */
    text-align: left;
    /* height: 600px; */
    height: auto;
}
html,
body {
    /* overflow: hidden; */
    /* don't do scrollbars */
    font-family: "Myriad Pro";
    /* font-size: 14px; */
}
#calendar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/* So very important -- eliminated the flickering on mouseover -- */
.popover{ pointer-events:none; }

.fc-day-header{
    /* height: 50px;
    width: 50px; */
    background-color: #00b8ab;
    /* border-radius: 50%;
    display: inline-block; */
}
/* .dot {
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
 */
.fc-unthemed td.fc-today{
    background: #00b8ab;
}
div.categories {
    position: relative;
    top: 150px;
}